/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 32px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[8];
      grid-template-columns: repeat(8, 120px);
  -ms-grid-rows: (100px)[20];
      grid-template-rows: repeat(20, 100px);
  font-family: Roboto ,sans-serif;
}

.titleWrap {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}

.titleWrap .subtitle {
  font-size: 20px;
  font-weight: black;
  color: #FFF;
  background-color: #111;
  display: inline-block;
  padding: .1em .5em;
}

.titleWrap .title {
  font-size: 72px;
  font-weight: 900;
  color: #111;
  position: relative;
  bottom: -14px;
}

.item {
  position: relative;
}

.item .item__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.item .item__title {
  font-weight: 900;
  color: #111;
  position: absolute;
}

.item .item__title::before, .item .item__title:after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  overflow: hidden;
}

.item .item__title:before {
  top: -14px;
  opacity: .3;
  height: 20px;
}

.item .item__title:after {
  top: -23px;
  opacity: .1;
  height: 14px;
}

.item .item__deco-square {
  border: 20px solid #50E3C2;
  position: absolute;
}

.item .item__deco-slash {
  position: absolute;
  background-size: contain;
}

.item .item__num {
  font-weight: 900;
  font-size: 48px;
  color: #111;
  position: absolute;
}

.item .item__subtitle {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  color: #111;
  position: absolute;
}

.item .item__deco-solid {
  background-color: #50E3C2;
  position: absolute;
}

.item-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
}

.item-1 .item__img {
  z-index: 10;
}

.item-1 .item__title {
  font-size: 48px;
  left: -2px;
  top: -16px;
  z-index: 11;
}

.item-1 .item__deco-square {
  width: 240px;
  height: 200px;
  right: -60px;
  top: -50px;
  z-index: 9;
}

.item-1 .item__deco-slash {
  width: 240px;
  height: 100px;
  left: 60px;
  bottom: -50px;
  z-index: 11;
}

.item-1 .item__num {
  left: 0;
  bottom: -57px;
  z-index: 11;
}

.item-1 .item__subtitle {
  text-align: right;
  -webkit-transform: translateX(50px) rotate(-270deg);
          transform: translateX(50px) rotate(-270deg);
  right: -1em;
  bottom: 30px;
}

.item-2 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  position: relative;
}

.item-2 .item__img {
  z-index: 10;
}

.item-2 .item__title {
  font-size: 48px;
  left: 120px;
  bottom: -80px;
  z-index: 11;
}

.item-2 .item__deco-square {
  width: 240px;
  height: 200px;
  left: 120px;
  top: -100px;
  z-index: 9;
}

.item-2 .item__deco-square:before {
  content: "";
  background-color: #50E3C2;
  width: 240px;
  height: 200px;
  position: absolute;
  left: -80px;
  top: 30px;
  z-index: 9;
}

.item-2 .item__num {
  right: -122px;
  top: -100px;
  z-index: 11;
}

.item-2 .item__subtitle {
  left: 0;
  top: -1em;
  z-index: 11;
}

.item-3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
}

.item-3 .item__img {
  z-index: 10;
}

.item-3 .item__title {
  font-size: 48px;
  right: -2px;
  top: -1em;
  z-index: 11;
}

.item-3 .item__deco-square {
  width: 240px;
  height: 200px;
  right: -60px;
  bottom: -50px;
  z-index: 9;
}

.item-3 .item__deco-solid {
  width: 240px;
  height: 50px;
  left: 0;
  top: -50px;
  z-index: 9;
}

.item-3 .item__num {
  right: -58px;
  bottom: -1em;
  z-index: 11;
}

.item-3 .item__subtitle {
  right: 240px;
  bottom: -28px;
}

.item-4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
}

.item-4 .item__img {
  z-index: 10;
}

.item-4 .item__title {
  font-size: 48px;
  left: 0;
  top: 0;
  z-index: 11;
  -webkit-transform: translate(-65%, 100%) rotate(-90deg);
          transform: translate(-65%, 100%) rotate(-90deg);
}

.item-4 .item__deco-square {
  width: 240px;
  height: 200px;
  right: 60px;
  top: -100px;
  z-index: 9;
}

.item-4 .item__deco-slash {
  width: 240px;
  height: 100px;
  left: 0;
  bottom: -50px;
  z-index: 11;
}

.item-4 .item__num {
  left: -58px;
  bottom: 0;
  z-index: 11;
}

.item-4 .item__subtitle {
  text-align: right;
  -webkit-transform: translate(70px, -70px) rotate(-270deg);
          transform: translate(70px, -70px) rotate(-270deg);
  right: 60px;
  top: -18px;
  z-index: 11;
}

.item-5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 13;
  -ms-grid-row-span: 2;
  grid-row: 13/15;
}

.item-5 .item__img {
  z-index: 10;
}

.item-5 .item__title {
  font-size: 48px;
  left: -240px;
  bottom: 100px;
  z-index: 11;
}

.item-5 .item__deco-square {
  width: 240px;
  height: 100px;
  left: -120px;
  bottom: -50px;
  z-index: 9;
}

.item-5 .item__deco-slash {
  width: 240px;
  height: 100px;
  left: -180px;
  top: -50px;
  z-index: 10;
}

.item-5 .item__num {
  left: -120px;
  bottom: 0;
  z-index: 11;
}

.item-5 .item__subtitle {
  left: 245px;
  top: 0;
}

.item-6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 15;
  -ms-grid-row-span: 4;
  grid-row: 15/19;
}

.item-6 .item__img {
  z-index: 10;
}

.item-6 .item__title {
  font-size: 48px;
  right: -2px;
  top: -1em;
  z-index: 11;
}

.item-6 .item__deco-square {
  width: 480px;
  height: 100px;
  right: 0;
  bottom: -50px;
  z-index: 9;
}

.item-6 .item__deco-solid {
  width: 60px;
  height: 200px;
  left: -60px;
  bottom: 0;
  z-index: 9;
}

.item-6 .item__num {
  left: -58px;
  bottom: 200px;
  z-index: 11;
}

.item-6 .item__subtitle {
  right: 240px;
  bottom: -28px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.item-7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 17;
  -ms-grid-row-span: 4;
  grid-row: 17/21;
}

.item-7 .item__img {
  z-index: 10;
}

.item-7 .item__title {
  font-size: 48px;
  left: 240px;
  top: 0;
  -webkit-transform: translate(-35%, 65px) rotate(90deg);
          transform: translate(-35%, 65px) rotate(90deg);
  z-index: 11;
}

.item-7 .item__deco-square {
  width: 240px;
  height: 300px;
  right: -60px;
  top: -50px;
  z-index: 9;
}

.item-7 .item__deco-solid {
  width: 120px;
  height: 200px;
  right: -120px;
  bottom: 0;
  z-index: 9;
}

.item-7 .item__num {
  right: -120px;
  bottom: 0;
  z-index: 11;
}

.item-7 .item__subtitle {
  left: 0;
  top: -24px;
  z-index: 11;
}

.next {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 20;
  -ms-grid-row-span: 1;
  grid-row: 20/21;
  position: relative;
}

.next .btn {
  right: 0;
  bottom: 50px;
}

.next .fa-arrow-right {
  position: absolute;
  right: -1.5em;
  bottom: 5px;
  width: 1em;
  height: 1em;
  font-size: 20px;
  color: #111;
}

.back {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  position: relative;
}

.back .btn {
  left: 0;
  bottom: 50px;
}

.back .fa-arrow-left {
  position: absolute;
  left: -1.5em;
  bottom: 5px;
  width: 1em;
  height: 1em;
  font-size: 20px;
  color: #111;
}

.btn {
  background-color: #111;
  color: #fff;
  display: inline-block;
  padding: .2em .5em;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  text-decoration: none;
}

.p2--item-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
}

.p2--item-1 .item__img {
  z-index: 10;
}

.p2--item-1 .item__title--normal {
  font-size: 48px;
  color: #111;
  font-weight: 900;
  position: absolute;
}

.p2--item-1 .title--rt {
  right: 0;
  top: -1em;
}

.p2--item-1 .title--rr {
  right: 0;
  top: 0;
  -webkit-transform: translate(67%, 100%) rotate(90deg);
          transform: translate(67%, 100%) rotate(90deg);
}

.p2--item-1 .title--ll {
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-90%) rotate(270deg);
          transform: translate(-90%) rotate(270deg);
}

.p2--item-1 .title--lb {
  left: 0;
  bottom: -45px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.p2--item-1 .item__deco-square {
  width: 480px;
  height: 200px;
  right: -60px;
  bottom: -60px;
  z-index: 9;
}

.p2--item-1 .item__deco-solid {
  width: 240px;
  height: 200px;
  left: -60px;
  top: -60px;
  z-index: 9;
}

.p2--item-1 .item__num {
  left: -58px;
  bottom: 200px;
  z-index: 11;
}

.p2--item-1 .item__subtitle {
  right: 240px;
  bottom: -28px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  grid-row: 9/13;
  color: #111;
  position: relative;
}

.content .content__subtitle {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-90px, 95px) rotate(-270deg);
          transform: translate(-90px, 95px) rotate(-270deg);
  font-size: 24px;
  font-weight: 900;
  font-style: italic;
}

.content .content__wrap__title {
  position: absolute;
  left: 120px;
  top: 0;
  font-weight: 900;
}

.content .content__wrap__title .title-1 {
  font-size: 48px;
}

.content .content__wrap__title .title-2 {
  font-size: 24px;
}

.content .content__wrap__content {
  position: absolute;
  left: 120px;
  top: 100px;
  font-size: 16px;
  line-height: 24px;
}

.p2-item-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 14;
  -ms-grid-row-span: 3;
  grid-row: 14/17;
}

.p2-item-2 .item__img {
  z-index: 10;
}

.p2-item-2 .item__deco-square {
  width: 480px;
  height: 200px;
  left: -60px;
  bottom: -50px;
  z-index: 9;
}

.p2-item-3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 16;
  -ms-grid-row-span: 4;
  grid-row: 16/20;
}

.p2-item-3 .item__img {
  z-index: 9;
}

.p2-item-3 .item__deco-slash {
  width: 240px;
  height: 100px;
  left: -150px;
  bottom: -50px;
  z-index: 11;
}

.p2-item-3 .item__deco-solid {
  width: 240px;
  height: 200px;
  right: -60px;
  top: -100px;
  z-index: 8;
}
/*# sourceMappingURL=all.css.map */